Source: bim
Section: editors
Priority: optional
Maintainer: Mike Gerow <gerow@mgerow.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://github.com/klange/bim
Vcs-Browser: https://github.com/klange/bim/tree/debian/sid
Vcs-Git: https://github.com/klange/bim.git -b debian/sid

Package: bim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: small vim-like terminal text editor with syntax highlighting
 Bim is a terminal text editor with syntax highlighting. Inspired by Vim and
 featuring similar mode-based editing, Bim was originally written for ToaruOS.
